<div class="row">
  <div class="col-md-6">
    <div class="container user-video-container">
      <%= video_tag url_for(@video.video), controls: true, width: "100%", height: 500, class: 'user-video-container' %>
      <h3><%= @video.title %></h1>
    </div>
  </div>
</div>
