<header>
  <h1>Home / About Us</h1>
</header>

<div class="fluid-container">
  <div class="about-us-content">
    <div class="row">
      <div class="col-md-6">
        <h3>LEARN ONLINE QURAN CLASSES</h3>
        <p class='about-us-paragraph'>Many of us seek Quran Teacher in our life to Teach Quran Online with proper Tajweed Rules recitation method and most of them find right for themselves and some of the people can not find right Wanted Quran teacher who could teach them Quran with proper recitation method. So we have solved your problem. You can start quran classes our <strong>Learn Quran Academy</strong> with Tajweed by our highly qualified Online Quran Tutors .</p>
        <p class='about-us-paragraph'><strong>Our Quran Academy</strong> experience has taught us that online courses simply require a different type of approach to Online Quran learning education, so if the challenges don’t seem too uncomfortable and the benefits are very much enticing, we really encourage you to give it a try. Join our online quran schools to see our performances.</p>
        <p class='about-us-paragraph'>Our Academy performs best in the field of <strong>Quran education</strong>. We provide many basic and essential courses. Only read the Quran is not important, Tajweed of Quran is also important. We have plenty of male and female teachers for tajweed classes.</p>
      </div>
      <div class="col-md-6">
        <h3> EASY WAY TO LEARN QURAN CLASSES</h3>
        <p class='about-us-paragraph'>We have Best team of both male and female Quran Teacher who are committed to their <strong>Quran Academy</strong> work, university graduates and are highly qualified. Most of them are Hafiz/Hafiza And Egyptian Arabic Quran Teacher so they can teach Quran with proper accent. So if anyone did not find any best Quran Teacher And <strong>Quran Academy</strong> or did not find opportunity to learn Quran with Tajweed then here is best opportunity for you because you will just have to get admission in our Best <strong>Quran Academy</strong> and rest is our work.</p>
        <ul class="about-list">
          <li><strong>24 Hour Service:</strong> we are providing 24 hour service Quran Classes to our students so that students can adjust their tutorial timings according to their availability, ease and comfort.</li>
          <li><strong>Qualification:</strong> Graduation from well reputed universities.</li>
          <li><strong>Certifications:</strong> Our Online Quran Teachers are well qualified and experienced.</li>
          <li><strong>Teaching Methodology:</strong> Our Online Quran Teachers are experienced and they are also trained to cater all types of students. They have full command over their recitation and rectify mistakes in recitation.</li>
          <li><strong>Personal Skills:</strong> We are very much concerned about satisfaction of students so we scrutinize teachers while hiring on the basis of dedication, punctuality and competency.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
